<div class="container mt-4">
  <form [formGroup]="form" (ngSubmit)="submit()" class="needs-validation">
  <div class="mb-3">
    <label for="title" class="form-label">Title</label>
    <input type="text" class="form-control" id="title" formControlName="title">
    <div *ngIf="form.get('title')?.invalid && form.get('title')?.touched" style="display: block" class="invalid-feedback">
      Title is required
    </div>
  </div>
    <div class="mb-3">
      <label for="description" class="form-label">Description</label>
      <textarea class="form-control" id="description" formControlName="description"></textarea>
      <div *ngIf="form.get('description')?.invalid && form.get('description')?.touched" style="display: block" class="invalid-feedback">
        Description is required
      </div>
    </div>
    <div class="mb-3">
      <label for="dueDate" class="form-label">Due DAte</label>
      <input type="date" class="form-control" id="dueDate" formControlName="dueDate">
      <div *ngIf="form.get('dueDate')?.invalid && form.get('dueDate')?.touched" style="display: block" class="invalid-feedback">
        DueDate is required
      </div>
    </div>
    <div class="mb-3">
      <label for="responsiblePersonId" class="form-label">Responsible Person</label>
      <select class="form-select" id="responsiblePersonId"  formControlName="responsiblePersonId">
        <ng-container *ngFor="let person of persons">

        <option [value]="person.id">{{person.fullName}}</option>
        </ng-container>
      </select>
      <div *ngIf="form.get('responsiblePersonId')?.invalid && form.get('responsiblePersonId')?.touched" style="display: block" class="invalid-feedback">
        Responsible Person is required
      </div>
    </div>
    <div class="mb-3">
      <button type="submit" class="btn btn-primary">{{todoId ? 'Update Todo': 'Create Todo'}}</button>
    </div>
  </form>
</div>
